* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  color: #fff;
  overflow-x: hidden;
}
.wrapper {
  height: 80vh;
  width: 100vw;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
nav img {
  width: 70px;
}
.surah__wrapper {
  position: relative;
}
.show__surah__toggle {
  background-color: #0d0e17;
  width: max-content;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 0.95rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.active {
  height: 250px !important;
  /* overflow-y: scroll !important; */
}
.surah__names {
  margin-top: 0.5rem;
  padding: 0 1rem;
  height: 0;
  overflow-y: scroll;
  transition: height 300ms ease-in-out;
}
.surah__names::-webkit-scrollbar {
  display: none;
}
.surah__name__btn {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  text-shadow: 2px 2px 4px #000;
  text-decoration: underline;
  padding-inline: 0.3rem;
  font-weight: 600;
  cursor: pointer;
}
.surah__name__btn:hover,
.surah__name__btn:active {
  background-color: #0d0e17;
  color: #fff;
  font-weight: 600;
}
.surah__name {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.surah__self {
  display: flex;
  padding: 0;
  overflow-y: scroll;
  height: 600px;
  width: 100%;
}
.surah__self * {
  flex: 1;
  font-size: 1.2rem;
}
.english,
.arabic {
  width: 80%;
  margin: 2rem;
}
.ayah__number {
  width: 10px;
  height: 10px;
  margin: 0.5rem;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
}
.arabic {
  text-align: right;
  display: none;
}
.english__arabic__toggle {
  width: 130px;
  height: 40px;
  border-radius: 0.92rem;
  position: relative;
  background-color: #0d0e17;
}
.english__arabic__toggle button {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.english__arabic__toggle #arabic__btn {
  right: 0;
}

.english p,
.arabic p {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000000ae;
  margin-block: 0.5rem;
  padding: 0.3rem 1rem;
  line-height: 3;
  font-size: 2rem;
}
.surah__self::-webkit-scrollbar {
  background-color: transparent;
}
.surah__self::-webkit-scrollbar-thumb {
  background-color: #0d0e17;
}
@media (max-width: 678px) {
  .english p,
  .arabic p {
    font-size: 1rem;
  }
  .surah__self {
    height: 370px;
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 330px) {
  .flex {
    flex-direction: column;
  }
}
